.btn {
    background: linear-gradient(50deg, hsl(136, 65%, 51%) 20%, hsl(192, 70%, 51%) 70%);
    border: none;
    border-radius: 25px;
    width: 10rem;
    height: 2rem;
    &:hover {
        opacity: 0.5;
    }
}
