.navbar {
    @include flexDisplay(row, 10px);
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    &--ico {
    }
    &--nav {
        ul {
            display: none;
            @media (min-width: $laptop--resolution) {
                @include flexDisplay(row, 1rem);
            }
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $grayish--blue;
                }
                &:hover {
                    border-bottom: 3px solid green;
                    a {
                        color: $dark--blue;
                    }
                }
            }
        }
    }
}
