.navbar {
    @include flexDisplay(row, 10px);
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    &--ico {
    }
    &--nav {
        ul {
            @media (max-width: $mobile--resolution) {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;
                position: absolute;
                background-color: white;
                width: 80%;
                top: 5rem;
                right: 10%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border-radius: 10px;
            }
            @media (min-width: $laptop--resolution) {
                @include flexDisplay(row, 1rem);
            }
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $grayish--blue;
                }
                &:hover {
                    border-bottom: 3px solid green;
                    a {
                        color: $dark--blue;
                    }
                }
            }
        }
    }
    &--btn {
        @media (max-width: $mobile--resolution) {
            display: none;
        }
    }
    .responsive--btn {
        border: none;
        background: none;
        font-size: 1rem;
        @media (min-width: $laptop--resolution) {
            display: none;
        }
    }
}
