.slider {
    width: 100%;
    position: relative;
    height: 80vh;
    padding-bottom: 2rem;
    @include flexDisplay(column-reverse, 0);
    @media (min-width: $laptop--resolution) {
        width: 100%;
    }
    @media (max-width: $mobile--resolution) {
    }
    &--intro {
        @include flexDisplay(column, 0);
        z-index: 2;
        align-items: center;
        width: 100%;
        @media (min-width: $laptop--resolution) {
            width: 35%;
            position: absolute;
            top: 10rem;
            left: 10%;
        }
        #brief--intro,
        #slider--title {
            text-align: center;
            margin: auto 1rem auto 1rem;
            @media (min-width: $laptop--resolution) {
                text-align: unset;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    &--img {
        position: relative;
        height: 70vh;
        bottom: 10%;
        @media (min-width: $laptop--resolution) {
        }
        &--bg {
            position: absolute;
            width: 100%;
            z-index: 1;
            @media (min-width: $laptop--resolution) {
                width: 70%;
                left: 40%;
                top: -10rem;
            }
        }

        &--mockup {
            position: absolute;
            z-index: 2;
            width: 80%;
            left: 10%;
            @media (min-width: $laptop--resolution) {
                width: 50%;
                left: 50%;
                top: -10rem;
            }
        }
    }
    &--btn {
        margin-top: 1rem;
    }
}
